*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


body {
    margin: 0%;
    line-height: 2;
    background-color: azure;
    background-image: url("file:///D:/Aditya/Hackathon/Website/Img/home3.jpg");
    background-size: contain;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.upp {
    background-color: blueviolet;
    font-size: xx-large;

}



nav {
  flex:auto;
 text-align: center;
 float: right;
 
}

nav ul {
  display: inline-block;
  list-style-type: none;
  
  
  
}

nav ul li {
  display: inline-block;
  margin-right: 0px;
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 70px;
  
}

a{
  text-decoration: none;
  color: #555;

}

.up, .mid, .down {
  width: 80rem;
  margin-left: 8rem;
}

.up p {
    background-color: blueviolet;
    /* font-size: x-large; */
    padding: 1.5rem;
    text-align: justify;
    font-size: 1.25rem;

}

.midd {
    font-size: xx-large;
    

}

.mid p {
  padding: 1.5rem;
background-color: rgba(12, 162, 221, 0.507);
font-size: x-large;

}

.downn {
    font-size: xx-large;
}

.down p {
  padding: 1.5rem;
background-color: rgba(21, 218, 103, 0.87);
font-size: x-large;

}

header {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 150px;

}

header ul {
    display: inline-block;
    list-style-type: none;
}

header ul li {
    display: inline-flexbox;
    margin-right: 0px;
    font-family: 'Poppins', sans-serif;
}

header a{
    text-decoration: none;
    color: #555;
}
    /* designs for footer section (submission form)*/

* {    
    box-sizing: border-box;    
  }    
      
  input[type=text], select, textarea {    
    width: 100%;    
    padding: 12px;    
    border: 1px solid rgb(70, 68, 68);    
    border-radius: 4px;    
    resize: vertical;    
  }    
  input[type=email], select, textarea {    
    width: 100%;    
    padding: 12px;    
    border: 1px solid rgb(70, 68, 68);    
    border-radius: 4px;    
    resize: vertical;    
  }    
      
  label {    
    padding: 12px 12px 12px 0;    
    display: inline-block;    
  }    
      
  input[type=submit] {    
    background-color: rgb(37, 116, 161);    
    color: white;    
    padding: 12px 20px;    
    border: none;    
    border-radius: 4px;    
    cursor: pointer;    
    float: right;    
  }    
      
  input[type=button]:hover {    
    background-color: #45a049; 
       
  }    
      
  .container {    
    border-radius: 5px;    
    background-color: #f2f2f2;    
    padding: 20px;    
  }    
      
  .col-25 {    
    float: left;    
    width: 25%;    
    margin-top: 6px;    
  }    
      
  .col-75 {    
    float: left;    
    width: 75%;    
    margin-top: 6px;    
  }    
      
     
  .row:after {    
    content: "";    
    display: table;    
    clear: both;    
  }



.all {
  text-align: center;
}
.all1 {
  text-align: left;
}
